<h2>一行掲示板</h2>
<p>
<%= form_for(Linebb.new) do |f| %>
名前 <%= f.text_field :author, :size => 5 %> コメント <%= f.text_field :text, :size => 56 %>  <%= f.submit '送信' %>
<% end %>
</p>

<%= will_paginate @linebbs, :previous_label=>'←前へ', :next_label=>'次へ→' %> 
<table>
<% @linebbs.each do |linebb| %>
  <tr>
	<td class="bbs">[<%= linebb.author %>] <%= linebb.text %> (<%= linebb.created_at.strftime('%F %T') %>)</td>
  </tr>	
<% end %>
</table>
<%= will_paginate @linebbs, :previous_label=>'←前へ', :next_label=>'次へ→' %> 


