<%= form_for([@user, @record]) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>: <%= @user.name %>
    <%= f.hidden_field :user_id, :value => @user.id %>
  </div>
  <div class="field">
    <%= f.label :song_id %>: <%= @song.title %>
    <%= f.hidden_field :song_id, :value => @song.id %>
  </div>
  <div class="field">
    Notes: <%= @song.notes %>
  </div>
  <div class="field">
    <%= f.label :score %>: <%= show_score @old_record %> -> <%= f.number_field :score, :size => 4%>
  </div>
  <div class="actions">
    <%= f.submit '更新！' %>
  </div>
<% end %>
