<h1>Listing records</h1>

<table>
  <tr>
    <th>User</th>
    <th>Song</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @records.each do |record| %>
  <tr>
    <td><%= record.user_id %></td>
    <td><%= record.song_id %></td>
    <td><%= record.score %></td>
    <td><%= link_to 'Show', user_record_path(@user, record) %></td>
    <td><%= link_to 'Edit', edit_user_record_path(@user, record) %></td>
    <td><%= link_to 'Destroy', user_record_path(@user, record), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
