<h2>最近のスコア</h2>
<%= will_paginate @records, :previous_label=>'←前へ', :next_label=>'次へ→' %> 
<table class="recent">
  <tr>
    <th>User</th>
    <th>Song</th>
    <th>Score</th>
    <th>Updated at</th>
  </tr>
<% @records.each do |record| %>
  <tr>
    <td><%= link_to record.user.name, record.user %></td>
    <td><%= link_to record.song.title, record.song %></td>
    <% old_record = Record.find(:first,
    							:order=>'created_at desc',
    							:conditions=>["user_id=? AND song_id=? AND created_at<?",
    								record.user, record.song, record.created_at]) %>
    <td>
    <% if old_record %>
      <%= old_record.score %>
    <% else %>
      No Play
    <% end %>
     -> <%= record.score %></td>
    <td><%= record.created_at.strftime('%F %T') %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @records, :previous_label=>'←前へ', :next_label=>'次へ→' %> 