<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user.name %>
</p>

<p>
  <b>Song:</b>
  <%= @song.title %>
</p>

<p>
  <b>Score:</b>
  <%= @record.score %>
</p>


<%= link_to 'Edit', edit_user_record_path %> |
<%= link_to 'Back', user_records_path %>
