<p id="notice"><%= notice %></p>

<h2>楽曲情報: <%= @song.title %></h2>

<table>
  <tr>
  	<th>Level</th>
  	<th>Title</th>
  	<th>Notes</th>
  	<th>Ver</th>
  </tr>
  <tr>
  	<td>☆<%= @song.level %></td>
  	<td><%= @song.title %></td>
    <td><%= @song.notes %></td>
    <td><%= ver_name @song.ver %></td>
  </tr>
</table>
<p></p>
<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Rank</th>
    <th>Valuation</th>
    <th>Rate</th>
  </tr>

<h2>ランキング</h2>
<% @users.each do |user| %>
  <tr>
  	<% record=@song.records.find_by_user_id(user, :order=>'created_at desc') %>
  	<td><%= link_to user.name, user %></td>
  	<td><%= show_score record %></td>
  	<td><%= show_rank record %>
    <td><%= show_valuation record %></td>
    <td><%= show_rate record %></td>
  </tr>
<% end %>
</table>
