<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<h1><%= link_to '50songs All Score Attack', root_path %></h1>
<%= link_to 'Home', root_path%>
<%= link_to 'Songs', songs_path %>
<%= link_to 'Users', users_path %>
<%= yield %>
</body>
</html>
